<!DOCTYPE HTML>
<!--
	ZeroFour by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
{% load django_bootstrap5 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% load static %}

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link class="cssdeck" rel="stylesheet"
    href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css">
  <link rel="stylesheet"
    href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" class="cssdeck">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link rel=”stylesheet” href=”custom.css”>
  <title>Web App 100 Moschee Projekt</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"> <a href="" class="image featured">
          <img src="{% static '/images/amj_logo.png' %}" alt="100 Moschee Logo" class="padding" /></a>
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="navbar-brand disabled" tabindex="-1" aria-disabled="true" href="#">{{ get_version }}</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:logout' %}">Logged in {{request.user}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}">Administration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact_us:about' %}">About</a>
          </li>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </ul>
    </div>
  </nav>
</body>

<body>
  {% for message in messages %}
  <div class="container-fluid p-0">
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="True">&times;</span>
      </button>
      {{ message }}
    </div>
  </div>
  {% endfor %}

  <div class="container-fluid">    
    <div> {% block content %}{% endblock %}</div>
  </div>

  <!-- </main> -->

  <hr>
  <!-- Footer Wrapper -->
  <div id="footer-wrapper">
    <footer id="footer" class="container-fluid p-3 my-3 bg-light text-black">
      <div class="row">

        <div class="col-12">
          <div id="copyright">
            <p>&copy; Untitled. All rights reserved</p>
            <p>Design: <a href="http://html5up.net">HTML5 UP</a></p>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <!-- Scripts -->
  <script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
  <script src="{% static 'assets/js/browser.min.js' %}"></script>
  <script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
  <script src="{% static 'assets/js/util.js' %}"></script>

</body>

</html>