
<div class="col-sm-9 col-md-9 col-sm-9 col-lg-10">

    <!-- <h4>{{project.name}}/{{folder}}/{{subfolder}}</h4> -->
    <table class="table">
        <thead>
            <tr>
                {% for field in file_fields %}
                {% if field.name == "file" %}
                    <th>Type</th>
                {% elif field.name != "user"  %}
                    <th>{{field.name|capfirst}}</th>
                {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% if files %}
            {% for file in files %}
            <tr>
                <td>
                    <a href={% url 'pbrowser:open_file' file.id %}>
                        {{file.id}}
                    </a>
                </td>
                <td>
                        {{file.description}}
                    <p>{{file.filename}}</p>
                </td>
                <td>
                    <a target="_blank" href={% url 'pbrowser:open_file' pk=file.id %}>
                        {{file.dateityp}}
                    </a>
                </td>
                <td>
                    {{file.project}}
                </td>
                <td>
                    {{file.category}}
                </td>
                <td>
                    {{file.date}}
                </td>
                <td>
                    {{file.upload_by}}
                </td>
                <!-- <td>
                    {{file.users_str}}
                </td> -->
            </tr>
            {%endfor%}
            {%endif%}

        </tbody>
    </table>

</div>