<div class="col-sm-3 col-md-3 col-sm-3 col-lg-2" style="overflow-y: scroll; overflow-x: hidden; height: 500px;">
    <ul class="nav nav-list">
        {% for proj in projects %}
        <li><label class="tree-toggler nav-header">
                <a href={% url 'pbrowser:projects' pk=proj.id %}>{{proj.name}}</label></a>
            {% if project.name == proj.name %}
            <ul class="nav nav-list tree">
                <li><label class="tree-toggler">Bauvorhaben</label></li>
                <ul class="nav nav-list tree">
                {% for cat in categories %}
                {% if cat.level == 1 %}
                    <li><label class="tree-toggler">
                            <a href={% url 'pbrowser:category' pk_cat=cat.id pk_proj=proj.id %}>{{cat.name}}</label>
                    </li>
                    {% elif cat.level == 2 %}
                    <ul class="nav nav-list tree">
                        <li><label class="tree-toggler">
                                <a href={% url 'pbrowser:category' pk_cat=cat.id pk_proj=proj.id %}>{{cat.name}}</label>

                        </li>
                    </ul>
                    {% elif cat.level == 3 %}
                    <ul class="nav nav-list tree">
                        <li><a href={% url 'pbrowser:category' pk_cat=cat.id pk_proj=proj.id %}>{{cat.name}}</a>
                        </li>
                    </ul>
                    {%endif%}
                    {% endfor %}
                </ul>
            </ul>
        </li>
    </ul>
    {% endif %}

    <li class="divider"></li>
    {%endfor%}

</div>
<script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>