{% extends "basic/base.html" %}

{% block content %}
{% load django_bootstrap5 %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-6 col-lg-6">

            <header class="first major">
                <h2 class="icon fa-file-alt">About</h2>

            </header>
            <p>Version: </p>
            <p>Git revision: {{ git_revision }}</p>
            <h3>Introduction</h3>
            <p>This software is designed according to the most common software among civil engineers in germany.
                Initiated by Mubariz Javed sb.

                Diese Software basiert auf die am meisten benutzte Bauingenieur Software in Deutschland. 
                Versionen für alle Dateien und unterteilt unter Projekten und Kategorien. 
            </p>
        </div>
        <div class="col-sm-3 col-md-6 col-lg-6">

            <form method='post'>

                {% csrf_token %}

                {% bootstrap_form form %}
                {% bootstrap_button button_type="submit" content="Submit" %}
                {% bootstrap_button button_type="reset" content="Cancel" %}
            </form>
        </div>
    </div>
</div>
{% endblock %}