{% extends "basic/base.html" %}
{% load django_bootstrap5 %}
{% block content %}

<div class="col-sm-3 col-md-3 col-sm-3 col-lg-2">
    <form method='post' enctype="multipart/form-data">

        {% csrf_token %}

        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" content="Copy" %}
        {% bootstrap_button button_type="reset" content="Cancel" %}
    </form>
</div>
{% endblock %}
