.list-down-btn {
  float: right;
  color: black;
  margin-top: 2px;
}

.list-group-collapse {
  overflow: hidden;
}

.padding {
  width: 400px;
  height: 400px;
  padding: 50px 50px 50px 50px;
}

.list-group-collapse li ul {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: -11px;
  border-radius: 0px;
}

.list-group-collapse li ul {
  border-radius: 0px !important;
  margin-top: 8px;
}

.list-group-collapse li ul li {
  border-radius: 0px !important;
  border-left: none;
  border-right: none;
  padding-left: 32px;
}

#filterList {
  display: none;
}

#subgroup {
  display: none;
}