{% load django_bootstrap5 %}

<div class="col-sm-3 col-md-3 col-sm-3 col-lg-2">
    {% if file_upload_form %}
    <form method='post' enctype="multipart/form-data">

        {% csrf_token %}

        {% bootstrap_form file_upload_form %}
        {% bootstrap_button button_type="submit" content="Upload File" %}
        {% bootstrap_button button_type="reset" content="Cancel" %}
    </form>
    {%endif%}
</div>